* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

body {
  background-image: url(https://cdn.glitch.com/7b5d1b45-fc74-4414-b21d-0752dbca1ba5%2Ff3.jpg?v=1596047470560);
  display: grid;
  grid-template-rows:minmax(15vh,auto)  min-content minmax(70vh,auto) minmax(10vh,auto);
}

.main-section {
  padding: 1rem 2.5rem ;
  margin: 0rem 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
}
