.footer{
    background-color: #70480c;
    min-height: 10vh;
    border-bottom:0.5rem solid #184870;
    border-top:0.5rem solid #184870;
}

.footer--ul--li--a{
    color: white;
    background-color: #bd893a;
    border-radius: 10px;
    width: max-content;
}

.footer--ul--li--a:hover{
    color: #bd893a;
    background-color: white;
}

.footer--p{
    color: white;
}