.container__nav {
  background-color: #404040;
  margin: 0px;
}

.nav--img {
  border: 2px solid;
  border-radius: 20px;
}

.nav--img:hover {
  border: none;
  background-color: rgb(128, 128, 128, 0.5);
}

.nav--ul--li--a {
  font-size: 1rem;
}

.nav--ul--li--a:hover {
  background-color: #808080;
  border-radius: 10px;
}
