body {
  background: url('https://cdn.glitch.com/7b5d1b45-fc74-4414-b21d-0752dbca1ba5%2Ff3.jpg?v=1596047470560') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header {
  background-color: #25323D;
  color: white;
  min-height: 15vh;
}

.main-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 75vh;
}
.container__nav {
  background-color: #3A82BD;
}

.nav--ul--li--a {
  font-size: 1.5rem;
}

.nav--ul--li--a:hover {
  background-color: #7AA5C8;
}

.footer{
    background-color: #25323D;
    min-height: 15vh;/*
    border-bottom:0.5rem solid #184870;
    border-top:0.5rem solid #184870;*/
}

.footer--a{
    color: white;
    background-color: #3A82BD;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.footer--a:hover{
    color: #3A82BD;
    background-color: white;
}

.footer--p{
    color: white;
}
