body {
  background: url("https://cdn.glitch.com/7b5d1b45-fc74-4414-b21d-0752dbca1ba5%2Ffcyt.jpg?v=1596499881971")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header {
  background-color: #25323d;
  color: white;
  min-height: 15vh;
}

.main-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 75vh;
  background-color: rgba(255, 255, 255, 0.9);
}
.container__nav {
  background-color: #3a82bd;
}

.heading{
  color:#25323d;
}

.nav--ul--li--a {
  font-size: 1.5rem;
}

.nav--ul--li--a:hover {
  background-color: #7aa5c8;
}

.footer {
  background-color: #25323d;
  min-height: 15vh;
}

.footer--a {
  color: white;
  background-color: #3a82bd;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.footer--a:hover {
  color: #3a82bd;
  background-color: white;
}

.footer--p {
  color: white;
}
