body {
  background: url("https://cdn.glitch.com/7b5d1b45-fc74-4414-b21d-0752dbca1ba5%2Ffcyt.jpg?v=1596499881971")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-size: 1rem;
}

.main-section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 65vh;
  background-color: rgba(255, 255, 255, 0.75);
}
.container__nav {
  background-color: #404040;
}

.nav--img {
  width: 100px;
}

.nav--ul--li--a {
  font-size: 1.5rem;
}

.nav--ul--li--a:hover {
  background-color: #808080;
  border-radius: 10px;
}

.heading-1 {
  color: #333333;
  font-size: 4rem;
}

.heading-2 {
  color: #333333;
  font-size: 3rem;
}

.heading-3 {
  color: #333333;
  font-size: 2rem;
}

.footer {
  min-height: 20vh;
  background-color: #000000;
}

.footer--a {
  color: white;
  background-color: #808080;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.footer--a:hover {
  color: #808080;
  background-color: white;
}

.footer--p {
  color: white;
}
